<h2>Orders</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Order</th>
            <th>Shipment status</th>
        </tr>
    </thead>
    <tbody>

        @foreach (dynamic order in Model.Orders)
        {
            <tr>
                <td><a asp-controller="Orders" asp-action="Details" asp-route-id=@order.OrderNumber>Number: #@order.OrderNumber</a></td>
                <td>@order.ShippingStatus</td>
            </tr>

        }

    </tbody>
</table>
