
@{
    ViewBag.Title = $"Order {Model.Order.Number}";
}

<h2>Order details</h2>

<section>
    <div><strong>Order:</strong></div>
    <div>Number: @Model.OrderNumber</div>
    <div>ItemsCount: @Model.OrderItemsCount</div>
</section>
<section>
    <div><strong>Shipping:</strong></div>
    <div>Name: @Model.Shipping.Status</div>
    <div>Name: @Model.Shipping.Courier</div>
</section>