
@{
    ViewBag.Title = $"Order {Model.OrderNumber}";
}

<h2>Order details</h2>

<section>
    <div><strong>Order:</strong></div>
    <div>Number: @Model.OrderNumber</div>
    <div>ItemsCount: @Model.OrderItemsCount</div>
</section>
<section>
    <div><strong>Shipping:</strong></div>
    <div>Name: @Model.ShippingStatus</div>
    <div>Name: @Model.ShippingCourier</div>
</section>