
@{
    ViewBag.Title = "First Order";
}

<h2>Backend first order</h2>

<section>
    <div><strong>Order:</strong></div>
    <div>Id: @Model.Order.Id</div>
    <div>ItemsCount: @Model.Order.ItemsCount</div>
</section>
<section>
    <div><strong>Customer:</strong></div>
    <div>Id: @Model.Customer.Id</div>
    <div>Name: @Model.Customer.Name</div>
</section>